In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing the csv data file

In [ ]:
train_df = pd.read_excel("Data_Train.xlsx")
train_df.head()

# Feature Engineering

In [ ]:
train_df["Date_of_Journey"] = train_df["Date_of_Journey"]+" "+train_df["Dep_Time"]
train_df.head()

In [ ]:
train_df["Date_of_Journey"]= pd.to_datetime(train_df["Date_of_Journey"],format ='%d/%m/%Y %H:%M',errors ='coerce')
train_df.head()

In [ ]:
train_df= train_df.drop(['Dep_Time'],axis=1)
train_df.head()

In [ ]:
train_df=train_df.drop(["Route","Arrival_Time"],axis=1)
train_df.head()

In [ ]:
l=[]
for i in train_df["Duration"]:
    l1 = list(i)
    if('m'in l1 and 'h' in l1):
            j= l1.index('h')
            s1="".join(l1[:j])
            t= 60*int(s1)
            j1=l1.index('m')
            s1="".join(l1[j+2:j1])
            t= t+int(s1)
            l.append(t)
    elif('h'in l1 and 'm' not in l1):
            j= l1.index('h')
            s1="".join(l1[:j])
            t= int(s1)*60
            l.append(t)
    else:
            j= l1.index('m')
            s1="".join(l1[:j])
            t= int(s1)
            l.append(t)

In [ ]:
train_df["Duration"]= l

In [ ]:
train_df.head()

In [ ]:
train_df['year_of_Journey'] = train_df['Date_of_Journey'].dt.year
train_df['month_of_Journey'] = train_df['Date_of_Journey'].dt.month
train_df['week_of_Journey'] = train_df['Date_of_Journey'].dt.week
train_df['day_of_Journey'] = train_df['Date_of_Journey'].dt.day
train_df['hour_of_Journey'] = train_df['Date_of_Journey'].dt.hour
train_df['minute_of_Journey'] = train_df['Date_of_Journey'].dt.minute

In [ ]:
train_df.head()

In [ ]:
train_df= train_df.drop(['Date_of_Journey'],axis=1)
train_df.head()

In [ ]:
train_df.info()

In [ ]:
train_df.to_csv("train_dataset_engineered")

# Importing the cleaned Data file

In [2]:
df_t = pd.read_csv("train_dataset_engineered", index_col=0)
df_t.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,year_of_Journey,month_of_Journey,week_of_Journey,day_of_Journey,hour_of_Journey,minute_of_Journey
0,IndiGo,Banglore,New Delhi,170,non-stop,No info,3897,2019,3,12,24,22,20
1,Air India,Kolkata,Banglore,445,2 stops,No info,7662,2019,5,18,1,5,50
2,Jet Airways,Delhi,Cochin,1140,2 stops,No info,13882,2019,6,23,9,9,25
3,IndiGo,Kolkata,Banglore,325,1 stop,No info,6218,2019,5,19,12,18,5
4,IndiGo,Banglore,New Delhi,285,1 stop,No info,13302,2019,3,9,1,16,50

In [3]:
df_t=df_t.dropna()

# Lable encoding

In [4]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df_t_y= df_t["Price"]
df_t_x = df_t.drop(["Price"],axis =1)
df_t_x.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,year_of_Journey,month_of_Journey,week_of_Journey,day_of_Journey,hour_of_Journey,minute_of_Journey
0,IndiGo,Banglore,New Delhi,170,non-stop,No info,2019,3,12,24,22,20
1,Air India,Kolkata,Banglore,445,2 stops,No info,2019,5,18,1,5,50
2,Jet Airways,Delhi,Cochin,1140,2 stops,No info,2019,6,23,9,9,25
3,IndiGo,Kolkata,Banglore,325,1 stop,No info,2019,5,19,12,18,5
4,IndiGo,Banglore,New Delhi,285,1 stop,No info,2019,3,9,1,16,50

In [5]:
df_t_x.isnull().sum()

Airline              0
Source               0
Destination          0
Duration             0
Total_Stops          0
Additional_Info      0
year_of_Journey      0
month_of_Journey     0
week_of_Journey      0
day_of_Journey       0
hour_of_Journey      0
minute_of_Journey    0
dtype: int64

In [6]:
s= (df_t_x.dtypes == 'object')
obj_cols= list(s[s].index)
for col in obj_cols:
    df_t_x[col]= le.fit_transform(df_t_x[col])
df_t_x.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,year_of_Journey,month_of_Journey,week_of_Journey,day_of_Journey,hour_of_Journey,minute_of_Journey
0,3,0,5,170,4,8,2019,3,12,24,22,20
1,1,3,0,445,1,8,2019,5,18,1,5,50
2,4,2,1,1140,1,8,2019,6,23,9,9,25
3,3,3,0,325,0,8,2019,5,19,12,18,5
4,3,0,5,285,0,8,2019,3,9,1,16,50

In [7]:
df = pd.concat([df_t_x,df_t_y],axis=1)
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,year_of_Journey,month_of_Journey,week_of_Journey,day_of_Journey,hour_of_Journey,minute_of_Journey,Price
0,3,0,5,170,4,8,2019,3,12,24,22,20,3897
1,1,3,0,445,1,8,2019,5,18,1,5,50,7662
2,4,2,1,1140,1,8,2019,6,23,9,9,25,13882
3,3,3,0,325,0,8,2019,5,19,12,18,5,6218
4,3,0,5,285,0,8,2019,3,9,1,16,50,13302

# Plotting data

In [16]:
from pandas_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file='output.html')

Summarize dataset:   0%|          | 0/27 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [7]:
df_t_x.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,year_of_Journey,month_of_Journey,week_of_Journey,day_of_Journey,hour_of_Journey,minute_of_Journey
0,3,0,5,170,4,8,2019,3,12,24,22,20
1,1,3,0,445,1,8,2019,5,18,1,5,50
2,4,2,1,1140,1,8,2019,6,23,9,9,25
3,3,3,0,325,0,8,2019,5,19,12,18,5
4,3,0,5,285,0,8,2019,3,9,1,16,50

In [16]:
df_t_y.size

10682

# Model creation

# 1. Linear Regression

In [10]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression().fit(df_t_x,df_t_y)

In [11]:
lr.score(df_t_x,df_t_y)#score is 0.4219582862447462 not good choice

0.4219582862447462

# 2. SVM

In [17]:
from sklearn.svm import SVR
svm_poly_reg = SVR(kernel="poly", degree=2, C=100, epsilon=0.1)
svm_poly_reg.fit(df_t_x, df_t_y)

SVR(C=100, degree=2, kernel='poly')

In [18]:
svm_poly_reg.score(df_t_x,df_t_y)

0.2714295731582673

In [30]:
from sklearn.model_selection import RandomizedSearchCV
param_grid = [{'C': [0.001,0.1,2,10,100], 'degree': [2,3,4,5,6],'epsilon': [0.1,0.5,0.6,1]}]
sv= SVR(kernel='poly')
rand_search = RandomizedSearchCV(sv, param_grid, cv=3,scoring='neg_mean_squared_error',return_train_score=True)
rand_search.fit(df_t_x,df_t_y)

RandomizedSearchCV(cv=3, estimator=SVR(kernel='poly'),
                   param_distributions=[{'C': [0.001, 0.1, 2, 10, 100],
                                         'degree': [2, 3, 4, 5, 6],
                                         'epsilon': [0.1, 0.5, 0.6, 1]}],
                   return_train_score=True, scoring='neg_mean_squared_error')

In [31]:
np.sqrt(np.abs(rand_search.best_score_))

4035.971460028365

In [32]:
rand_search.best_params_

{'epsilon': 0.1, 'degree': 6, 'C': 10}

In [ ]:
#{'epsilon': 0.1, 'degree': 6, 'C': 10} best SVM parameter