In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing the csv data file

In [2]:
train_df = pd.read_excel("Data_Train.xlsx")
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

# Feature Engineering

In [3]:
train_df["Date_of_Journey"] = train_df["Date_of_Journey"]+" "+train_df["Dep_Time"]
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019 22:20,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019 05:50,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019 09:25,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019 18:05,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019 16:50,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
train_df["Date_of_Journey"]= pd.to_datetime(train_df["Date_of_Journey"],format ='%d/%m/%Y %H:%M',errors ='coerce')
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24 22:20:00,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,2019-05-01 05:50:00,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-06-09 09:25:00,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,2019-05-12 18:05:00,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,2019-03-01 16:50:00,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [5]:
train_df= train_df.drop(['Dep_Time'],axis=1)
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24 22:20:00,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,2019-05-01 05:50:00,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-06-09 09:25:00,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,2019-05-12 18:05:00,Kolkata,Banglore,CCU → NAG → BLR,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,2019-03-01 16:50:00,Banglore,New Delhi,BLR → NAG → DEL,21:35,4h 45m,1 stop,No info,13302

In [6]:
train_df=train_df.drop(["Route","Arrival_Time"],axis=1)
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24 22:20:00,Banglore,New Delhi,2h 50m,non-stop,No info,3897
1,Air India,2019-05-01 05:50:00,Kolkata,Banglore,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-06-09 09:25:00,Delhi,Cochin,19h,2 stops,No info,13882
3,IndiGo,2019-05-12 18:05:00,Kolkata,Banglore,5h 25m,1 stop,No info,6218
4,IndiGo,2019-03-01 16:50:00,Banglore,New Delhi,4h 45m,1 stop,No info,13302

In [7]:
l=[]
for i in train_df["Duration"]:
    l1 = list(i)
    if('m'in l1 and 'h' in l1):
            j= l1.index('h')
            s1="".join(l1[:j])
            t= 60*int(s1)
            j1=l1.index('m')
            s1="".join(l1[j+2:j1])
            t= t+int(s1)
            l.append(t)
    elif('h'in l1 and 'm' not in l1):
            j= l1.index('h')
            s1="".join(l1[:j])
            t= int(s1)*60
            l.append(t)
    else:
            j= l1.index('m')
            s1="".join(l1[:j])
            t= int(s1)
            l.append(t)

In [8]:
train_df["Duration"]= l

In [9]:
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24 22:20:00,Banglore,New Delhi,170,non-stop,No info,3897
1,Air India,2019-05-01 05:50:00,Kolkata,Banglore,445,2 stops,No info,7662
2,Jet Airways,2019-06-09 09:25:00,Delhi,Cochin,1140,2 stops,No info,13882
3,IndiGo,2019-05-12 18:05:00,Kolkata,Banglore,325,1 stop,No info,6218
4,IndiGo,2019-03-01 16:50:00,Banglore,New Delhi,285,1 stop,No info,13302

In [10]:
train_df['year_of_Journey'] = train_df['Date_of_Journey'].dt.year
train_df['month_of_Journey'] = train_df['Date_of_Journey'].dt.month
train_df['week_of_Journey'] = train_df['Date_of_Journey'].dt.week
train_df['day_of_Journey'] = train_df['Date_of_Journey'].dt.day
train_df['hour_of_Journey'] = train_df['Date_of_Journey'].dt.hour
train_df['minute_of_Journey'] = train_df['Date_of_Journey'].dt.minute

<ipython-input-10-17e87c697372>:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  train_df['week_of_Journey'] = train_df['Date_of_Journey'].dt.week

In [11]:
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Duration,Total_Stops,Additional_Info,Price,year_of_Journey,month_of_Journey,week_of_Journey,day_of_Journey,hour_of_Journey,minute_of_Journey
0,IndiGo,2019-03-24 22:20:00,Banglore,New Delhi,170,non-stop,No info,3897,2019,3,12,24,22,20
1,Air India,2019-05-01 05:50:00,Kolkata,Banglore,445,2 stops,No info,7662,2019,5,18,1,5,50
2,Jet Airways,2019-06-09 09:25:00,Delhi,Cochin,1140,2 stops,No info,13882,2019,6,23,9,9,25
3,IndiGo,2019-05-12 18:05:00,Kolkata,Banglore,325,1 stop,No info,6218,2019,5,19,12,18,5
4,IndiGo,2019-03-01 16:50:00,Banglore,New Delhi,285,1 stop,No info,13302,2019,3,9,1,16,50

In [12]:
train_df= train_df.drop(['Date_of_Journey'],axis=1)
train_df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,year_of_Journey,month_of_Journey,week_of_Journey,day_of_Journey,hour_of_Journey,minute_of_Journey
0,IndiGo,Banglore,New Delhi,170,non-stop,No info,3897,2019,3,12,24,22,20
1,Air India,Kolkata,Banglore,445,2 stops,No info,7662,2019,5,18,1,5,50
2,Jet Airways,Delhi,Cochin,1140,2 stops,No info,13882,2019,6,23,9,9,25
3,IndiGo,Kolkata,Banglore,325,1 stop,No info,6218,2019,5,19,12,18,5
4,IndiGo,Banglore,New Delhi,285,1 stop,No info,13302,2019,3,9,1,16,50

In [13]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Airline            10683 non-null  object
 1   Source             10683 non-null  object
 2   Destination        10683 non-null  object
 3   Duration           10683 non-null  int64
 4   Total_Stops        10682 non-null  object
 5   Additional_Info    10683 non-null  object
 6   Price              10683 non-null  int64
 7   year_of_Journey    10683 non-null  int64
 8   month_of_Journey   10683 non-null  int64
 9   week_of_Journey    10683 non-null  int64
 10  day_of_Journey     10683 non-null  int64
 11  hour_of_Journey    10683 non-null  int64
 12  minute_of_Journey  10683 non-null  int64
dtypes: int64(8), object(5)
memory usage: 1.1+ MB

In [14]:
train_df.to_csv("train_dataset_engineered")

# Importing the cleaned Data file

In [15]:
df_t = pd.read_csv("train_dataset_engineered", index_col=0)
df_t.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,year_of_Journey,month_of_Journey,week_of_Journey,day_of_Journey,hour_of_Journey,minute_of_Journey
0,IndiGo,Banglore,New Delhi,170,non-stop,No info,3897,2019,3,12,24,22,20
1,Air India,Kolkata,Banglore,445,2 stops,No info,7662,2019,5,18,1,5,50
2,Jet Airways,Delhi,Cochin,1140,2 stops,No info,13882,2019,6,23,9,9,25
3,IndiGo,Kolkata,Banglore,325,1 stop,No info,6218,2019,5,19,12,18,5
4,IndiGo,Banglore,New Delhi,285,1 stop,No info,13302,2019,3,9,1,16,50

In [16]:
df_t=df_t.dropna()

# Lable encoding

In [17]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df_t_y= df_t["Price"]
df_t_x = df_t.drop(["Price"],axis =1)
df_t_x.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,year_of_Journey,month_of_Journey,week_of_Journey,day_of_Journey,hour_of_Journey,minute_of_Journey
0,IndiGo,Banglore,New Delhi,170,non-stop,No info,2019,3,12,24,22,20
1,Air India,Kolkata,Banglore,445,2 stops,No info,2019,5,18,1,5,50
2,Jet Airways,Delhi,Cochin,1140,2 stops,No info,2019,6,23,9,9,25
3,IndiGo,Kolkata,Banglore,325,1 stop,No info,2019,5,19,12,18,5
4,IndiGo,Banglore,New Delhi,285,1 stop,No info,2019,3,9,1,16,50

In [18]:
df_t_x.isnull().sum()

Airline              0
Source               0
Destination          0
Duration             0
Total_Stops          0
Additional_Info      0
year_of_Journey      0
month_of_Journey     0
week_of_Journey      0
day_of_Journey       0
hour_of_Journey      0
minute_of_Journey    0
dtype: int64

In [19]:
s= (df_t_x.dtypes == 'object')
obj_cols= list(s[s].index)
for col in obj_cols:
    df_t_x[col]= le.fit_transform(df_t_x[col])
df_t_x.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,year_of_Journey,month_of_Journey,week_of_Journey,day_of_Journey,hour_of_Journey,minute_of_Journey
0,3,0,5,170,4,8,2019,3,12,24,22,20
1,1,3,0,445,1,8,2019,5,18,1,5,50
2,4,2,1,1140,1,8,2019,6,23,9,9,25
3,3,3,0,325,0,8,2019,5,19,12,18,5
4,3,0,5,285,0,8,2019,3,9,1,16,50

In [20]:
df = pd.concat([df_t_x,df_t_y],axis=1)
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,year_of_Journey,month_of_Journey,week_of_Journey,day_of_Journey,hour_of_Journey,minute_of_Journey,Price
0,3,0,5,170,4,8,2019,3,12,24,22,20,3897
1,1,3,0,445,1,8,2019,5,18,1,5,50,7662
2,4,2,1,1140,1,8,2019,6,23,9,9,25,13882
3,3,3,0,325,0,8,2019,5,19,12,18,5,6218
4,3,0,5,285,0,8,2019,3,9,1,16,50,13302

# Plotting data

In [21]:
from pandas_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file='output.html')

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=27.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [22]:
df_t_x.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,year_of_Journey,month_of_Journey,week_of_Journey,day_of_Journey,hour_of_Journey,minute_of_Journey
0,3,0,5,170,4,8,2019,3,12,24,22,20
1,1,3,0,445,1,8,2019,5,18,1,5,50
2,4,2,1,1140,1,8,2019,6,23,9,9,25
3,3,3,0,325,0,8,2019,5,19,12,18,5
4,3,0,5,285,0,8,2019,3,9,1,16,50

In [23]:
df_t_y.size

10682

# Train Test data spliting

In [24]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_t_x, df_t_y, test_size=0.20)

# Linear Regression

In [25]:
from sklearn.model_selection import cross_val_score as CV
from sklearn.linear_model import LinearRegression
lr= LinearRegression()
scores = CV(lr, df_t_x, df_t_y, cv=10, scoring='r2')
print("r2 score = %0.2f" % (scores.mean()))#0.42

r2 score = 0.42

# SVM

## Kernel = Polynomial

In [26]:
# from sklearn.model_selection import RandomizedSearchCV
# from sklearn.svm import SVR
# param_grid = [{'C': [0.001,0.1,2,10,100], 'degree': [2,3,4,5,6],'epsilon': [0.1,0.5,0.6,1]}]
# sv= SVR(kernel='poly')
# rand_search = RandomizedSearchCV(sv, param_grid, cv=10,scoring='r2',return_train_score=True)
# rand_search.fit(df_t_x,df_t_y)

In [27]:
# rand_search.best_params_

In [28]:
# svm_poly_reg = SVR(kernel="poly", degree=5, C=100, epsilon=0.1)

In [29]:
# scores = CV(svm_poly_reg, df_t_x, df_t_y, cv=10, scoring='r2')
# print("r2 score = %0.2f" % (scores.mean()))#0.4

## Kernel = rbf

In [35]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.svm import SVR
param_grid = [{'C': [0.001,0.1,2,10,100], 'epsilon': [0.1,0.5,0.6,1]}]
sv= SVR()
rand_search = RandomizedSearchCV(sv, param_grid, cv=10,scoring='r2',return_train_score=True)
rand_search.fit(df_t_x,df_t_y)

RandomizedSearchCV(cv=10, estimator=SVR(),
                   param_distributions=[{'C': [0.001, 0.1, 2, 10, 100],
                                         'epsilon': [0.1, 0.5, 0.6, 1]}],
                   return_train_score=True, scoring='r2')

In [36]:
rand_search.best_params_

{'epsilon': 0.6, 'C': 100}

In [37]:
svm_rbf_reg = SVR(C=100, epsilon=0.6)
scores = CV(svm_rbf_reg, df_t_x, df_t_y, cv=10, scoring='r2')
print("r2 score = %0.2f" % (scores.mean()))#0.3

r2 score = 0.30

# Random Forest

In [40]:
from sklearn.ensemble import RandomForestRegressor
param_grid = [{'n_estimators': [50,100,150,200,250, 300, 350,400, 450,500,550]}]
rf = RandomForestRegressor(warm_start= True,n_jobs=-1)
rand_search = RandomizedSearchCV(rf, param_grid, cv=5,scoring='r2',return_train_score=True)
rand_search.fit(df_t_x,df_t_y)

RandomizedSearchCV(cv=5,
                   estimator=RandomForestRegressor(n_jobs=-1, warm_start=True),
                   param_distributions=[{'n_estimators': [50, 100, 150, 200,
                                                          250, 300, 350, 400,
                                                          450, 500, 550]}],
                   return_train_score=True, scoring='r2')

In [41]:
rand_search.best_params_

{'n_estimators': 500}

In [42]:
rf_n = RandomForestRegressor(n_estimators=500,warm_start= True,n_jobs=-1)
scores = CV(rf_n, df_t_x, df_t_y, cv=10, scoring='r2')
print("r2 score = %0.2f" % (scores.mean()))#0.9

r2 score = 0.87

# XGBoost

In [44]:
from xgboost import XGBRegressor
param_grid = [{'n_estimators': [50,100,150,200,250, 300, 350,400, 450,500,550]}]
xgb = XGBRegressor(njobs=-1)
rand_search = RandomizedSearchCV(xgb, param_grid, cv=5,scoring='r2',return_train_score=True)
rand_search.fit(df_t_x,df_t_y)

[12:10:29] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:29] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:29] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:29] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:30] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:30] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:31] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:32] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:33] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:34] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:35] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:35] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:36] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:36] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:37] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:37] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:38] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:38] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:39] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:39] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:40] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:40] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:40] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

[12:10:40] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:41] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:41] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:42] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:43] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:45] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:46] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:47] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:48] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:49] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:50] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:50] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:51] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:52] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:54] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:55] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:57] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:58] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:58] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:59] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:10:59] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:11:00] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:11:00] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

[12:11:01] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:11:02] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:11:03] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:11:04] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[12:11:05] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "njobs" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

RandomizedSearchCV(cv=5,
                   estimator=XGBRegressor(base_score=None, booster=None,
                                          colsample_bylevel=None,
                                          colsample_bynode=None,
                                          colsample_bytree=None, gamma=None,
                                          gpu_id=None, importance_type='gain',
                                          interaction_constraints=None,
                                          learning_rate=None,
                                          max_delta_step=None, max_depth=None,
                                          min_child_weight=None, missing=nan,
                                          monotone_constraints=None,
                                          n_estimators=100, n_jobs=None,
                                          njobs=-1, num_parallel_tree=None,
                                          random_state=None, reg_alpha=None,
                                          reg_lambda=None,
                                          scale_pos_weight=None, subsample=None,
                                          tree_method=None,
                                          validate_parameters=None,
                                          verbosity=None),
                   param_distributions=[{'n_estimators': [50, 100, 150, 200,
                                                          250, 300, 350, 400,
                                                          450, 500, 550]}],
                   return_train_score=True, scoring='r2')

In [45]:
rand_search.best_params_

{'n_estimators': 200}

In [46]:
xgb = XGBRegressor(n_estimators=200,n_jobs=-1)
scores = CV(xgb, df_t_x, df_t_y, cv=10, scoring='r2')
print("r2 score = %0.2f" % (scores.mean()))#0.90

r2 score = 0.90

# Best model is XGBoost for this data with 200 n_estimator

# Preprocessing Test data

In [47]:
df_test = pd.read_excel("Test_set.xlsx")
df_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [48]:
df_test["Date_of_Journey"] = df_test["Date_of_Journey"]+" "+df_test["Dep_Time"]
df_test["Date_of_Journey"]= pd.to_datetime(df_test["Date_of_Journey"],format ='%d/%m/%Y %H:%M',errors ='coerce')
df_test= df_test.drop(['Dep_Time'],axis=1)
df_test=df_test.drop(["Route","Arrival_Time"],axis=1)
l=[]
for i in df_test["Duration"]:
    l1 = list(i)
    if('m'in l1 and 'h' in l1):
            j= l1.index('h')
            s1="".join(l1[:j])
            t= 60*int(s1)
            j1=l1.index('m')
            s1="".join(l1[j+2:j1])
            t= t+int(s1)
            l.append(t)
    elif('h'in l1 and 'm' not in l1):
            j= l1.index('h')
            s1="".join(l1[:j])
            t= int(s1)*60
            l.append(t)
    else:
            j= l1.index('m')
            s1="".join(l1[:j])
            t= int(s1)
            l.append(t)
            
        
df_test["Duration"]= l               
df_test['year_of_Journey'] = df_test['Date_of_Journey'].dt.year
df_test['month_of_Journey'] = df_test['Date_of_Journey'].dt.month
df_test['week_of_Journey'] = df_test['Date_of_Journey'].dt.week
df_test['day_of_Journey'] = df_test['Date_of_Journey'].dt.day
df_test['hour_of_Journey'] = df_test['Date_of_Journey'].dt.hour
df_test['minute_of_Journey'] = df_test['Date_of_Journey'].dt.minute 
df_test= df_test.drop(['Date_of_Journey'],axis=1)
df_test.head()

<ipython-input-48-4d8c16b83783>:31: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df_test['week_of_Journey'] = df_test['Date_of_Journey'].dt.week

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,year_of_Journey,month_of_Journey,week_of_Journey,day_of_Journey,hour_of_Journey,minute_of_Journey
0,Jet Airways,Delhi,Cochin,655,1 stop,No info,2019,6,23,6,17,30
1,IndiGo,Kolkata,Banglore,240,1 stop,No info,2019,5,19,12,6,20
2,Jet Airways,Delhi,Cochin,1425,1 stop,In-flight meal not included,2019,5,21,21,19,15
3,Multiple carriers,Delhi,Cochin,780,1 stop,No info,2019,5,21,21,8,0
4,Air Asia,Banglore,Delhi,170,non-stop,No info,2019,6,26,24,23,55

In [49]:
df_test=df_test.dropna()

(2671, 12)

In [51]:
df_test.isnull().sum()

Airline              0
Source               0
Destination          0
Duration             0
Total_Stops          0
Additional_Info      0
year_of_Journey      0
month_of_Journey     0
week_of_Journey      0
day_of_Journey       0
hour_of_Journey      0
minute_of_Journey    0
dtype: int64

In [52]:
s= (df_test.dtypes == 'object')
obj_cols= list(s[s].index)
for col in obj_cols:
    df_test[col]= le.fit_transform(df_test[col])
df_test.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,year_of_Journey,month_of_Journey,week_of_Journey,day_of_Journey,hour_of_Journey,minute_of_Journey
0,4,2,1,655,0,5,2019,6,23,6,17,30
1,3,3,0,240,0,5,2019,5,19,12,6,20
2,4,2,1,1425,0,3,2019,5,21,21,19,15
3,6,2,1,780,0,5,2019,5,21,21,8,0
4,0,0,2,170,4,5,2019,6,26,24,23,55

# Predecting the test data value

In [56]:
xgb.fit(df_t_x,df_t_y)
y_pred= xgb.predict(df_test)
y_pred

array([10249.651 ,  4014.0315, 15494.656 , ..., 13663.155 , 11985.101 ,
        6178.212 ], dtype=float32)

In [58]:
df = pd.DataFrame(y_pred, columns = ['Price'])
df.head()

          Price
0  10249.651367
1   4014.031494
2  15494.656250
3   9615.277344
4   4062.186768

# Saving predicted data

In [59]:
df.to_csv("Predicted_fligt_data.csv")